name: Build and Push Docker Images

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

env:
  API_IMAGE_NAME: dora-pollcredit
  WEB_IMAGE_NAME: dora-pollcredit-web

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASS }}

      - name: Docker metadata
        id: meta_api
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_HUB_USER }}/${{ env.API_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha

      - name: Build and push API image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta_api.outputs.tags }}
          labels: ${{ steps.meta_api.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker metadata (web)
        id: meta_web
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_HUB_USER }}/${{ env.WEB_IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=sha

      - name: Build and push web image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: payment-app/Dockerfile
          push: true
          tags: ${{ steps.meta_web.outputs.tags }}
          labels: ${{ steps.meta_web.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
